.container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 90%;
  flex-wrap: wrap;

  .element {
    min-width: 300px;
    background-color: rgb(159, 74, 74);
    margin: 10px 10px;
  }
}
